.align{

  transform: translatex(0px) translatey(100px);
  position:relative;

}



.video_btn {
  background-color:#131921 ;
  height: 140px;
  width: 365px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;

}

.text {
  width: 45%;
  color: white;
  float: right;
  font-weight: bold;
  text-align: start;
  padding-bottom: 20px;
}




.image_box {
  width: 50%;
  float: left;
}

.duration {
  color: white;
  background-color:#181818;
  position:absolute;
  transform: translatex(135px) translatey(85px);
}

.text2 {
  color: gray;
  text-align: inherit;
  padding-top: 25px;
}

.text3 {
  color: gray;
  padding-top: 5px;
  text-align: inherit;
}

.image {
  width: 150px;
  height: 100px;
}

.text-box {
  float: right;
}

.align {
  float: right;
  clear: both;
}
