


*{
margin: 0;
padding: 0;
width: 100%;
display: flex;


}

nav{
width: 100%;
background-color:#131921;
height: 100px;
position: fixed;
}

.search_box{
    color: white;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
    border: none; 
    margin: 0;
}

.search_box input{
    width: 900px;
    height: 50%;
    background-color: white;
    border: none;
    border-radius: 8px 0px 0px 8px;
    margin: 0;
   outline: none;
}
.logo{
    width: 50px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 25px;
    height: 50px;
}





.fa-search{
    font-size: 25px;
    position: absolute;
    height: 10px;
    top: 35%;
    right: 0;
    transform: translateX(50%);
    transform: translateY(-50%);
    
}

.search-button{
margin: 0;
padding: 0;
height: 50%;
width: 50px;
position: relative;
background-color:#F3A847 ;
border-radius: 0px 8px 8px 0px;
border: none;   
}