.container{
float:left;
position:fixed;
background-color:#131921;
transform: translatex(0px) translatey(100px);
margin: 0;
padding: 0;
width:984px;
height: 984px;


}

.video{

width: 960px;
padding-left: 20px;
height: 450px;
padding-top: 15px;


}