<app-header style="position: fixed; width: 100%;"></app-header>

<app-suggestion-item
  text="Sketchup Stairs Interior Build"
  text2="Rio Ryne"
  text3="4.3M views · 4 years ago"
  src="https://www.youtube.com/embed/I317BhehZKM"
  duration="20:53"
></app-suggestion-item>
<app-suggestion-item
  text="Sketchup Stairs Interior Build"
  text2="Rio Ryne"
  text3="4.3M views · 4 years ago"
  src="/assets/music.jpg"
  duration="20:53"
></app-suggestion-item>
<app-suggestion-item
  text="Sketchup Stairs Interior Build"
  text2="Rio Ryne"
  text3="4.3M views · 4 years ago"
  src="/assets/music.jpg"
  duration="20:53"
></app-suggestion-item>
<app-suggestion-item
  text="Sketchup Stairs Interior Build"
  text2="Rio Ryne"
  text3="4.3M views · 4 years ago"
  src="/assets/music.jpg"
  duration="20:53"
></app-suggestion-item>
<app-suggestion-item
  text="Sketchup Stairs Interior Build"
  text2="Rio Ryne"
  text3="4.3M views · 4 years ago"
  src="/assets/music.jpg"
  duration="20:53"
></app-suggestion-item>
<app-suggestion-item
  text="Sketchup Stairs Interior Build"
  text2="Rio Ryne"
  text3="4.3M views · 4 years ago"
  src="/assets/music.jpg"
  duration="20:53"
></app-suggestion-item>
<app-suggestion-item
  text="Sketchup Stairs Interior Build"
  text2="Rio Ryne"
  text3="4.3M views · 4 years ago"
  src="/assets/music.jpg"
  duration="20:53"
></app-suggestion-item>

<app-video-player></app-video-player>